h1 {
  @include headline(36, 48);
}
h2 {
  @include headline(28, 40);
}
h3 {
  @include headline(24, 32);
}
h4 {
  @include headline(22, 30);
}
h5 {
  @include headline(20, 28);
}
h6 {
  @include headline(18, 26);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

.entry-content {

	p,
	ul,
	ol {
		line-height: 1.5;
	}

	ul:not([class]),
	ol:not([class]) {
		margin: rem-calc(16 0) !important;
		padding: rem-calc(0 0 0 32) !important;

		@include breakpoint(large) {
			padding: rem-calc(0 0 0 16) !important;
		}

		li {
			padding: rem-calc(8 0);
		}

		ul:not([class]),
		ol:not([class]) {
			margin: rem-calc(16 0);
		}
	}
}
