.wp-block-post-title,
.wp-block-query,
.content-container {
	margin-right: auto !important;
	margin-left: auto !important;
	padding-right: $single-gap !important;
	padding-left: $single-gap !important;

	@include breakpoint( xlarge ) {
		max-width: $global-width;
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}

.entry-content > .alignleft {
	float: left;
	margin-right: 2em;
}

.entry-content > .alignright {
	float: right;
	margin-right: 2em;
}
