:root {
	--global-container-width: 75rem;
}

body:not(.admin-bar) {
	--wp-admin--admin-bar--height: 0px;
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
	width: 100%;
	font-size: 16px;
	overflow-x: hidden;
}

body {
	font-family: $body-font;
}

img {
	width: 100%;
	height: auto;
	max-width: 100%;

	@include breakpoint( large ) {
		width: auto;
	}
}
