// global container width
$global-width: var(--global-container-width);

// breakpoint map
$breakpoints: (
  small: 0,
  medium: 40em,
	xmedium: 48em,
	xxmedium: 61.875em,
  large: 64em,
  xlarge: 71.25em,
  xxlarge: 75rem,
	xxxlarge: 90em,
);

// font families
$body-font: 'Open-Sans', sans-serif;
