.site-header {
	padding: rem-calc(16 0);

	&__skip-link {
		@include abs-pos(  $left: rem-calc(-9999) );
		padding: rem-calc(5 10);
		border: rem-calc(2) solid $black;
		border-radius: rem-calc(5);
		background: $white;
		color: $black;
		font-size: rem-calc(14);
		text-transform: uppercase;
		font-weight: 700;
		z-index: 99999;

		&:focus {
			top: calc( rem-calc(16) + var(--wp-admin--admin-bar--height) );
			left: rem-calc(16);
		}
	}

	&__grid {
		display: flex;
		align-items: center;
	}

	&__logo {
		width: rem-calc(100);

		a {
			display: block;
		}
	}

	&__navigation {

		#main-menu {
			display: flex;
			@include reset-list-styles;

			.menu-item {

				a {
					padding: rem-calc(4 16);
				}
			}
		}
	}

	&__hamburger {
		$hamburger: &;
		--patty-thickness: 0.125rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: rem-calc(25);
		height: rem-calc(20);
		margin-left: auto;

		&:before,
		&:after {
			content: '';
			transform: rotate(0);
			transform-origin: 0;
		}

		&:before,
		&:after,
		&-patty {
			display: block;
			width: 100%;
			height: var(--patty-thickness);
			background-color: $black;
			transition: transform .5s;
		}

		&:hover {
			cursor: pointer;
		}

		&--is-active {

			&:before {
				transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
			}

			#{$hamburger} {

				&-patty {
					transform: translateX(100px);
				}
			}
		}
	}
}
